alabaster==0.7.12
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.9.3
bleach==3.1.0
certifi==2020.12.5
cffi==1.12.2
chardet==3.0.4
click==7.1.2
cloudpickle==0.8.0
colorama==0.4.1
cryptography==2.6.1
cvxopt==1.2.4
cycler==0.10.0
decorator==4.4.0
defusedxml==0.5.0
docutils==0.14
entrypoints==0.3
et-xmlfile==1.0.1
executing==0.5.4
future==0.17.1
hyperopt==0.1.2
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.15
jdcal==1.4.1
jedi==0.13.3
jellyfish==0.7.1
Jinja2==2.10
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
keyring==18.0.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
notebook==5.7.8
numpy==1.19.4
numpydoc==0.8.0
openpyxl==3.0.5
opyenxes==0.3.0
packaging==19.0
pandas==1.1.5
pandocfilters==1.4.2
parse==1.18.0
parso==0.3.4
patsy==0.5.1
pickleshare==0.7.5
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psutil==5.6.1
pyarrow==2.0.0
pycodestyle==2.5.0
pycparser==2.19
pyflakes==2.1.1
Pygments==2.3.1
pylint==2.3.1
pymongo==3.7.2
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyrsistent==0.14.11
PySocks==1.6.8
python-dateutil==2.8.1
pytz==2020.5
pywin32==223
pywinpty==0.5.5
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
requests==2.21.0
rope==0.12.0
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
snowballstemmer==1.2.1
soupsieve==2.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.4
spyder-kernels==0.4.4
statsmodels==0.9.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.1
tqdm==4.55.1
traitlets==4.3.2
typed-ast==1.3.1
urllib3==1.24.1
varname==0.5.6
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
xlrd==2.0.1
xone==0.1.6
